/* =============== 1만 시간의 법칙 CSS 파일 =============== */


/* font-face 속성으로 웹폰트 적용 */
@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}


/* =============== css =============== */
/* 사용자 지정 색상 */
:root {
  --color-purple: #5B2386;
  --color-yellow: #FCEE21;
  --color-white: #FFFFFF;
  --text-yellow: #F5DF4D;
  --text-gray: #BABCBE;
  --shadow-black: #000000;
}
/* 웹 접근성을 고려한 콘텐츠 숨기기 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ==================== 전체 적용 CSS ==================== */
/* body 태그 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Noto Sans KR';
  color: var(--color-white);
  background-color: var(--color-purple);
}


/* ==================== < Header > ==================== */
/* Header 태그 전체 */
#header-wrap {
  position: relative;
  margin-top: 125px;
}
/* 1만 시간의 법칙 로고 - 메인 이미지 */
#header-wrap > h1 > .header-logo {
  width: 530px;
}
/* 1먼 시간의 법칙 로고 - 뒷시계 이미지 */
#header-wrap > h1 > .header-logo-back {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* ==================== < Section 1 : 소개> ==================== */
#section-wrap {
  font-family: 'GmarketSansMedium';
  text-align: center;
}
/* 연습은 어제의 당신보다 당신을 더 낫게 만든다 인용 문구(노란색) */
.intro {
  color: var(--color-yellow);
  font-family: 'OTEnjoystoriesBA';
  font-size: 36px;
  line-height: 40px;
  margin: 125px 0 78px 0;
}
/* 1만 시간의 법칙 소개 - 글자(하얀색) */
.intro-saying {
  position: relative;
  text-align: center;
  line-height: 24px;
}
/* 1만 시간의 법칙 소개 - 따옴표 이미지 */
.quotes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* 1만 시간의 법칙 소개 span 태그 - 글자(하얀색) */
.intro-bold {
  font-family: 'GmarketSansBold';
  font-weight: 400;
  font-size: 24px;
}
/*  1만 시간의 법칙 소개 - 따옴표 내부(하얀색) */
.quotes-saying {
  margin-bottom: 102px;
}
/* ==================== < Section 1 : 입력> ==================== */
/* 두 개의 input을 감싸는 p 태그 */
.section-input > p {
  font-size: 24px;
}
/* 첫 번째 input 태그 wrap */
.input-one-wrap {
  margin-bottom: 27px;
}
/* 두 번째 input 태그 wrap */
.input-two-wrap {
  margin-bottom: 115px;
}
/* input 태그 - 해당 분야의 전문가, 매일 훈련시간 */
.training-input {
  width: 228px;
  height: 57px;
  font-size: 24px;
  text-align: center;
  border-radius: 7px;
}
/* input 태그 입력힌트 - 예)프로그래밍, 예)5시간 */
.training-input::placeholder {
  color: var(--text-gray);
  font-family: 'GmarketSansMedium';
}
/* ==================== < Section 1 : 버튼> ==================== */
/* 버튼 공통 속성 */
button {
  background-color: var(--color-yellow);
  color: var(--color-purple);
  font-family: 'GmarketSansBold';
  font-size: 24px;
  border-radius: 56px;
  padding: 21px 49px;
  box-shadow: 0px 0px 6px 0px var(--shadow-black);
};
/* 훈련시간 - 나는 며칠 동안 훈련을 해야 1만 시간이 될까? 버튼 문구 */
.start-btn {
  width: 565px;
  height: 66px;
}
/* 훈련시간 - 마우스 클릭 이미지 */
.mouse-hand {
  width: 64px;
  height: 72px;
  transform: translate(320px, -40px);
}
/* ==================== < Section 1 : 시간> ==================== */
/* 당신은 전문가가 되기 위해서 문구 */
.traning-one-time {
  margin-top: 147px;
  font-size: 24px;
  margin-bottom: 17px;
}
/* 전문가 이름, 훈련일수 span 태그 */
.traning-one-time > span, .traning-two-time > span {
  font-family: 'GmarketSansBold';
  font-size: 72px;
}
/* 대략 일 이상 훈련하셔야 합니다!:) 문구 */
.traning-two-time {
  margin-bottom: 127px;
  font-size: 24px;
}

/* 훈련하러 가기 GO!GO! 버튼 */
/* .go-btn {}; */
/* 공유하기 버튼 */
.section-btns > .share-btn {
  background-color: var(--color-white);
};



/* ==================== < Section 2 > ==================== */
/* #section-modal {} */
/* .section-two-wrap {} */


/* ==================== < Foooter > ==================== */
/* #footer-copyright {} */
/* .footer-wrap {} */
/* 위니브 로고 */
.footer-logo {
  margin: 20px 10px;
}
/* Footer 저작권 */
.footer-text {
  font-family: 'Noto Sans KR';
  font-size: 12px;
  line-height: 17px;
  /* 상하 좌우 OR 상 우 하 좌 */
  margin: 20px 10px;
}