/* =============== 1만 시간의 법칙 CSS 파일 =============== */


/* font-face 속성으로 웹폰트 적용 */
@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}


/* =============== css =============== */
/* 사용자 지정 색상 */
:root {
  --color-purple: #5B2386;
  --color-yellow: #FCEE21;
  --color-white: #FFFFFF;
  --text-yellow: #F5DF4D;
  --text-gray: #BABCBE;
  --shadow-black: #000000;
}
/* 웹 접근성을 고려한 콘텐츠 숨기기 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ==================== 전체 적용 CSS ==================== */
/* body 태그 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Noto Sans KR';
  color: var(--color-white);
  background-color: var(--color-purple);
}
/* input 태그 */
.training-input {
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
}
/* input 태그 입력힌트 */
.training-input::placeholder {
  color: var(--text-gray);
  font-family: 'GmarketSansMedium';
}



/* ==================== < Header > ==================== */
/* Header 태그 전체 */
#header-wrap {
  position: relative;
  margin-top: 125px;
}
/* 1만 시간의 법칙 로고 */
#header-wrap > h1 > .header-logo {
  width: 530px;
}
/* 1먼 시간의 법칙 로고 - 뒷시계 */
#header-wrap > h1 > .header-logo-back {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* ==================== < Section 1 > ==================== */
#section-wrap {
  font-family: 'GmarketSansMedium';
  text-align: center;
}
/* 연습은 어제의 당신보다 당신을 더 낫게 만든다 인용 문구(노란색) */
.intro {
  color: var(--color-yellow);
  font-family: 'OTEnjoystoriesBA';
  font-size: 36px;
  line-height: 40px;
  margin: 125px 0 78px 0;
}
/* 1만 시간의 법칙 소개 - 글자(하얀색) */
.intro-saying {
  position: relative;
  text-align: center;
  line-height: 24px;
}
/* 1만 시간의 법칙 소개 - 따옴표 */
.quotes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* 1만 시간의 법칙 소개 span 태그 - 글자(하얀색) */
.intro-bold {
  font-family: 'GmarketSansBold';
  font-weight: 400;
  font-size: 24px;
}
/*  1만 시간의 법칙 소개 - 따옴표 내부(하얀색) */
.quotes-saying {
  /* font-family: 'Noto Sans KR'; */
  margin-bottom: 102px;
}

/* 모든 버튼 */
button {
  background-color: var(--color-yellow);
  color: var(--color-purple);
  font-family: 'GmarketSansBold';
  font-size: 24px;
  border-radius: 56px;
  padding: 21px 49px;
  box-shadow: 0px 0px 6px 0px var(--shadow-black);
};
/* 훈련시간 버튼 */
/* .start-btn {}; */
/* 훈련하러 가기 GO!GO! 버튼 */
/* .go-btn {}; */
/* 공유하기 버튼 */
.section-btns > .share-btn {
  background-color: var(--color-white);
};



/* ==================== < Section 2 > ==================== */
/* #section-modal {} */
/* .section-two-wrap {} */


/* ==================== < Foooter > ==================== */
/* #footer-copyright {} */
/* .footer-wrap {} */
/* 위니브 로고 */
.footer-logo {
  margin: 20px 10px;
}
/* Footer 저작권 */
.footer-text {
  font-family: 'Noto Sans KR';
  font-size: 12px;
  line-height: 17px;
  /* 상하 좌우 OR 상 우 하 좌 */
  margin: 20px 10px;
}