/* =============== 1만 시간의 법칙 CSS 파일 =============== */


/* font-face 속성으로 웹폰트 적용 */
@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
  url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}


/* =============== css =============== */
/* 사용자 지정 색상 */
:root {
  --purple_color: #5B2386;
  --yellow_color: #FCEE21;
  --white_color: #FFFFFF;
  --yellow_text: #F5DF4D;
  --gray_text: #BABCBE;
  --black_shadow: #000000;
}
/* 웹 접근성을 고려한 콘텐츠 숨기기 */
.screen_reader_only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ==================== 전체 적용 CSS ==================== */
/* body 태그 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Noto Sans KR';
  color: var(--white_color);
  background-color: var(--purple_color);
}



/* Header 태그 전체 */
.header_container {
  position: relative;
  margin-top: 125px;
}
/* 1만 시간의 법칙 로고 - 메인 이미지 */
.header_container > h1 > .header_logo {
  width: 530px;
}
/* 1먼 시간의 법칙 로고 - 뒷시계 이미지 */
.header_container > h1 > .header_logo_back_image {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}



.section_container {
  font-family: 'GmarketSansMedium';
  text-align: center;
}
/* 연습은 어제의 당신보다 당신을 더 낫게 만든다 인용 문구(노란색) */
.intro {
  margin: 125px 0 78px 0;
  font-family: 'OTEnjoystoriesBA';
  font-size: 36px;
  line-height: 40px;
  color: var(--yellow_color);
}
/* 1만 시간의 법칙 소개 - 글자(하얀색) */
.intro_saying {
  position: relative;
  text-align: center;
  line-height: 24px;
}
/* 1만 시간의 법칙 소개 - 따옴표 이미지 */
.quotes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* 1만 시간의 법칙 소개 span 태그 - 글자(하얀색) */
.intro_bold {
  font-family: 'GmarketSansBold';
  font-weight: 400;
  font-size: 24px;
}
/*  1만 시간의 법칙 소개 - 따옴표 내부(하얀색) */
.quotes_saying {
  margin-bottom: 102px;
}


/* 두 개의 input을 감싸는 p 태그 */
.section_input > p {
  font-size: 24px;
}
/* 첫 번째 input 태그 wrap */
.input_one_wrapper {
  margin-bottom: 27px;
}
/* 두 번째 input 태그 wrap */
.input_two_wrapper {
  margin-bottom: 115px;
}
/* input 태그 - 해당 분야의 전문가, 매일 훈련시간 */
.training_input {
  width: 228px;
  height: 57px;
  font-size: 24px;
  text-align: center;
  border-radius: 7px;
  background-color: var(--white_color);
}
/* input 태그 입력힌트 - 예)프로그래밍, 예)5시간 */
.training_input::placeholder {
  color: var(--gray_text);
  font-family: 'GmarketSansMedium';
}


/* 버튼 전체 공통 속성 */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  background-color: var(--yellow_color);
  color: var(--purple_color);
  font-family: 'GmarketSansBold';
  font-size: 24px;
  border-radius: 56px;
  padding: 21px 49px;
  box-shadow: 0px 0px 6px 0px var(--black_shadow);
};
/* 훈련시간 - 나는 며칠 동안 훈련을 해야 1만 시간이 될까? 버튼 문구 */
.start_button {
  width: 565px;
  height: 66px;
  transform: translateY(283px);
}
/* 훈련시간 - 마우스 클릭 이미지 */
.mouse_container > .mouse_hand {
  position: absolute;
  justify-content: flex-end;
  width: 64px;
  height: 72px;
  transform: translate(290px, -180px);
}


/* 당신은 전문가가 되기 위해서 문구 */
.traning_one_time {
  margin-bottom: 17px;
  font-size: 24px;
}
/* 전문가 이름, 훈련일수 span 태그 */
.traning_one_time > span, .traning_two_time > span {
  font-family: 'GmarketSansBold';
  font-size: 72px;
}
/* 대략 일 이상 훈련하셔야 합니다!:) 문구 */
.traning_two_time {
  margin-bottom: 127px; 
  font-size: 24px;
}

/* 훈련하러 가기 GO!GO! 버튼, 공유하기 버튼 */
.section_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
/* 훈련하러 가기 GO!GO! 버튼 */
.section_button > .go_button {
  margin-right: 9px;
}
/* 공유하기 버튼 */
.section_button > .share_button {
  height: 66px;
  background-color: var(--white_color);
  margin-left: 9px;
};



/* .section_modal {} */
/* .section_two_wrapper {} */


/* .footer_container {} */
/* 위니브 로고 */
.footer_logo {
  margin: 20px 10px;
}
/* Footer 저작권 */
.footer_text {
  font-family: 'Noto Sans KR';
  font-size: 12px;
  line-height: 17px;
  /* 상하 좌우 OR 상 우 하 좌 */
  margin: 20px 10px;
}